
<div class="jumbotron">
  <h3 class="display-3">Hello, WELCOME to our CAREERS section</h3>
  <p class="lead">View job openings at Interview-Portal</p>
  <hr class="my-4">
  <div class="content">
 
  <div class="row"><p class="col-md-8">SOFTWARE DEVELOPER </p><div class="col-md-4" ><a class="btn btn-primary btn-lg" href="/viewjob" role="button">APPLY</a></div></div>
  <div class="row"><p class="col-md-8">DATA SCIENTIST </p><div class="col-md-4" ><a class="btn btn-primary btn-lg" href="/viewjob" role="button">APPLY</a></div></div>
  <div class="row"><p class="col-md-8">PRODUCT MANAGER </p><div class="col-md-4" ><a class="btn btn-primary btn-lg" href="/viewjob" role="button">APPLY</a></div></div>
  
</div>
</div>
